target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/MasterOfCode/CompetitorClient/nbproject/private/
/MasterOfCode/AdminClient/nbproject/private/
/MasterOfCode/ModuleX/nbproject/private/
/MasterOfCode/ModuleX/build/
/MasterOfCode/ModuleX/dist/