<h1>Scores</h1> 

<div class="widgetleft">
    <h2>Rounds</h2>
    
    <select ng-model="filterCondition.operator" size="22">
        <option ng-selected="{{operator.value === filterCondition.operator}}"
                ng-repeat="operator in operators"
                value="{{operator.value}}">
            {{operator.displayName}}
        </option>
    </select>
    
</div>

<div class="widgetright">
    <table>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="teams.html">Team C</a></td>
            <td>2500</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="teams.html">Team A</a></td>
            <td>2200</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="teams.html">Team B</a></td>
            <td>1800</td>
        </tr>
    </table> 
</div>

