<h1>Scores</h1> 

<div class="widgetleft">
    <h2>Rounds</h2>

    <select size="18">
        <option
                ng-repeat="operator in operators" ng-click="init(operator.name)" ng-if="operator.completed === 'true'"
                value="{{operator.value}}">
            {{operator.name}}
        </option>
    </select>


</div>

<div class="widgetright">
    <table>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Score</th>
        </tr>
        <tr ng-repeat="s in scores">
            <td>{{s.rank}}</td>
            <td>{{s.team}}</td>
            <td>{{s.score}}</td>
        </tr>
    </table> 
</div>

