<h1>Teams</h1>

<div class="widgetleft">
    <h2>Teams</h2>

    <select ng-model="filterCondition.operator" size="18">
        <option ng-selected="{{operator.value === filterCondition.operator}}"
                ng-repeat="operator in operators"
                value="{{operator.value}}">
            {{operator.name}}
        </option>
    </select>

</div>

<div class="widgetright" style="height: 36%">
    <h2>Members</h2>
    <div class="item" ng-repeat="member in members">
    {{member.name}}
    </div>
</div>

<div class="widgetright" style="height: 23%">
    <h2>Most recent news</h2>
    <table>
        <tr>
            <td style="text-align: left">{{name}} {{message}} </td>
            <td>{{time}}</td>
        </tr>
    </table>
    <div class="footerlink">
        <a href="#/newsfeed">View more news from {{name}}</a>
    </div>
</div>

<div class="widgetright" style="height: 17%">
    <h2>Current score</h2>
    <table>
        <tr>
            <th>Rank</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>{{rank}}</td>
            <td>{{score}}</td>
        </tr>
    </table> 
</div>
