<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-1">
        <input type="checkbox" ng-model="allTests" name="allTests" value="all" ng-change="selectAll()">Test all<br>
    </div>
    <div id="testsTitle" class="col-md-5">
        User tests
    </div>
    <div class="col-md-2"></div>
</div>

<div id="testsContainer">
    
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2"><p id="legendUnknow">Not yet tested</p></div>
    <div class="col-md-2"><p id="legendFailed">Test failed</p></div>
    <div class="col-md-2"><p id="legendSuccess">Test passed</p></div>
    <div class="col-md-1">
        <button class="btn btn-default" ng-click="requestTests()">Run tests</button>
    </div>
    <div class="col-md-1"></div>
</div>